<!DOCTYPE html>
<html lang="en">
<head>
	<title>Covidly-Safe</title>
    <link rel="icon" type="image/png" href="../../favicon.png" />

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/form.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>
<body class="form-body">
	<!-- PRE LOADER -->
	<section class="preloader">
		<div class="spinner">
			<span class="spinner-rotate"></span>
		</div>
	</section>
    {{error-message}}
    {{{body}}}

    <!--SCRIPTS-->
	<script type="text/javascript" src="/js/lib/jquery.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>

</body>
</html>