<!DOCTYPE html>
<html lang="en">
<head>

     <title>Covidly-Safe</title>
    <link rel="icon" type="image/png" href="../../favicon.png" />

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="Home page">
     <meta name="keywords" content="">
     <meta name="author" content="Team5">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
     <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/extension.css">

</head>

<body>
    <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="topNav" id="navbar">

               <div class="navbar-header">
                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand">Covidly-Safe</a>
               </div>

               <!-- MENU LINKS -->
               <div>
                    <ul class="nav navbar-nav navbar-nav-first">
                        <!-- TODO Create a main menu bar-->
                        <li class="collapse-nav"><a href="/">Home</a></li>
                        <li class="collapse-nav"><a href="/about">About Us</a></li>
                        <li class="collapse-nav"><a href="/store">Shop</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li class="collapse-nav"><a href="/contact"><i class="fa fa-phone"></i>Contact Us</a></li>
                         <li class="collapse-nav"><a href="/login" id="user-account"><i class="fa fa-user"></i>{{status}}</a></li>
                         <li class="collapse-nav"><a href="/cart"><i class="fa fa-shopping-cart"></i>Cart</a></li>
                    </ul>
               </div>

                <a class="icon" onclick="topNav()"><i class="fa fa-bars"></i></a>

          </div>
     </section>

    {{{body}}}

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Office Address</h2>
                        </div>
                        <address>
                            <p>0000 World St,<br></br> Tempe, AZ 00000</p>
                        </address>

                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text"> 
                            <p>Copyright &copy; 2020 Covidly-Safe</p>
                            
                            <p>Design: TemplateMo</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                        <div class="footer-info">
                            <div class="section-title">
                                <h2>Contact Us</h2>
                            </div>
                            <address>
                                <p>+1 (000) 000 0000</p>
                                <p><a href="mailto:youremail.co">covidly-safe@asu.edu</a></p>
                            </address>

                            <div class="footer_menu">
                                <h2>Quick Links</h2>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Sellers</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                </ul>
                            </div>
                        </div>
                </div>

                
                <div class="col-md-4 col-sm-12">
                    <div class="footer-info newsletter-form">
                        <div class="section-title">
                            <h2>Covidly-Safe Promotion Signup</h2>
                        </div>
                        <div>
                            <div class="form-group">
                                <form action="#" method="get">
                                    <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required=""></input>
                                    <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me"></input>
                                </form>
                                <span><sup>*</sup> By clicking "Send me" you allow us to have your information.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

     <!-- SCRIPTS -->
     <script type="text/javascript" src="/js/lib/jquery.js"></script>
     <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
     <script type="text/javascript" src="/js/lib/owl.carousel.min.js"></script>
     <script type="text/javascript" src="/js/lib/smoothscroll.js"></script>
     
     <script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>