<!-- HOME -->
<section id="home">
    <div class="row">

        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Covidly-Safe</h1>
                                <h3>"It's Cool Being Safe"</h3>
                                <a href="/about" class="section-btn btn btn-default">Get to Know Us</a>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>19 COVID19 Essentials</h1>
                                <h3>Masks, hand-sanitizer, paper-towel, everything is available for your
                                        stay at home supplies.</h3>
                                <a href="/store" class="section-btn btn btn-default">Shop for Mask</a>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Stock Suppliers Needed</h1>
                                <h3>Are you interested in working together with us? Click the button below!</h3>
                                <a href="/contact" class="section-btn btn btn-default">Contact Us</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>