<!--SIGN UP FORM-->
<div class="signup-form-container">
	<div class="signup-form-title">
		<a href="/"><pre id="back">    back</pre></a>
		<h1> <center>SIGN UP</center> </h1>
	</div>

	<form id="signup-form" action="/register" method="POST">
		<!-- Section for displaying error message --->
		{{#if error}}
		<div id="error-message">
			{{error}}
		</div>
		{{/if}} <br>
		<label>Which account do you want to register for? </label><br>
		<input type="radio" class="radio-input" id="buyer" name="type" value="buyer"/> <label for="buyer">Buyer</label>
		<input type="radio" class="radio-input" id="seller" name="type" value="seller"/> <label for="buyer">Seller</label><br><br>
		<label>First Name:</label>
		<input type="text" class="input-field" name="firstName" placeholder="First name..."/> <br><br>
		<label>Last Name:</label>
		<input type="text" class="input-field" name="lastName" placeholder="Last name..."/> <br><br>
		<label>Username:</label>
		<input type="text" class="input-field" name="username" placeholder="Username..."/> <br><br>
		<label>Email:</label>
		<input type="text" class="input-field" name= "email" placeholder="Email..."/> <br><br>
		<label>Password :</label>
		<input type="password" class="input-field" name="password" placeholder="Password..."/> <br><br>
		<label>Confirm Password :</label>
		<input type="password" class="input-field" name="confirmPassword" placeholder="Password..."/> <br><br>
		<br><button type="submit"><b>SIGN UP</b></button>
		<p id="center-text">Already have an account? <a href="/login">Click here</a></p>
	</form>
</div>