<!-- STORE -->
<section id="store">

<div class="container">
    <h1>Store</h1>
    <input type="text" class="col-xs-11" id="search-bar" placeholder="Search product by keywords...">
    <button class="btn btn-secondary col-xs-1" onclick="displayProducts()"><i class="fa fa-search"></i></button>
</div>

<div class="container">
    <div class="submenu">
        <button class="submenu-button col-xs-2" onclick="displayProducts('All')">All</button>
        <button class="submenu-button col-xs-2" onclick="displayProducts('Mask')">Mask</button>
        <button class="submenu-button col-xs-2" onclick="displayProducts('PPE')">PPE</button>
        <button class="submenu-button col-xs-2" onclick="displayProducts('Essentials')">Essentials</button>
        <button class="submenu-button col-xs-2" onclick="displayProducts('Pharm')">Pharmaceutical</button>
        <button class="submenu-button col-xs-2" onclick="displayProducts('Other')">Other</button>
    </div>

    <div class="row store-content">
        <div id="filter-menu">{{ menu }}</div>
        <ul id="product-list">
            <!-- Section for displaying messages -->
            {{#each products}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>

</div>

</section>