/*---------------------------------------
    HOME  & SLIDER            
-----------------------------------------*/

#home {
    padding: 0;
  }
  
  #home h1 {
    color: #e4ebea;
  }
  
  #home h3 {
    color: #e4ebea;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 40px 0;
  }
  
  @media (min-width: 768px) {
    .home-slider .col-md-6 {
      padding-left: 0;
    }
  }
  
  .home-slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #e4ebea;
    cursor: e-resize;
  }
  
  .home-slider .item {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }
  
  .caption h3 a { color: #e4ebea; }
  .caption h3 a:hover { color: #FED79D; }
  
  .home-slider .item-first {
    background-image: url("../assets/imgs/slider-image1.jpg");
  background-position: center;
  }
  
  .home-slider .item-second {
    background-image: url("../assets/imgs/slider-image2.jpg");
  }
  
  .home-slider .item-third {
    background-image: url("../assets/imgs/slider-image3.jpg");
  }


/*---------------------------------------
    ABOUT US              
-----------------------------------------*/

#about {
  background: #FED79D;
}

.team-thumb {
  background: #e4ebea;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.team-info {
  padding: 20px 30px;
}

.team-image img {
  width: 100%;
}

.team-thumb .social-icon {
  border-top: 1px solid #e4ebea;
  padding: 4px 20px 0 20px;
}

.team-thumb .social-icon li a {
  background: #e4ebea;
  color: #012B36;
}

.team-info h3 {
  margin: 0;
}


/*---------------------------------------
    STORE              
-----------------------------------------*/

#store {
  background: #e4ebea;
}

#search-bar {
  padding: 7px;
  border: none;
}

.submenu {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.submenu-button {
  padding: 10px;
  color: #e4ebea;
  border-width: 1px;
  border-color: #e4ebea;
  border-radius: 0px;
  background: #678492;
}

.product-thumb {
  background: #e4ebea;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.product-info {
  padding: 20px 30px;
}

.product-image img {
  width: 100%;
}

.product-thumb .star-icon {
  border-top: 1px solid #e4ebea;
  padding: 4px 20px 0 20px;
}

.product-thumb .product-icon li a {
  background: #e4ebea;
  color: #012B36;
}

.product-info h3 {
  margin: 0;
}

.store-list {
  background: #FED79D;
  position: relative;
  overflow: hidden;
  text-align: left;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}


/*---------------------------------------
    CONTACT             
-----------------------------------------*/

#contact {
  background: #012B36;
}

#contact h2 {
  color: #e4ebea;
}

#contact .section-title {
  padding-bottom: 20px;
}

#contact h2 > small,
#contact p,
#contact a {
  color: #e4ebea;
}

#contact-form {
  padding: 1em 0;
}

#contact-form .col-md-12,
#contact-form .col-md-4 {
  padding-left: 0;
}

#contact-form .form-control {
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  margin: 10px 0;
}

#contact-form input {
  height: 50px;
}

#contact-form input[type='submit'] {
  border-radius: 50px;
  border: 1px solid transparent;
}

#contact-form input[type='submit']:hover {
  background: transparent;
  border-color: #e4ebea;
  color: #e4ebea;
}


/*---------------------------------------
    ACCOUNT           
-----------------------------------------*/
.account-body {
  padding-left: 35px;
  padding-top: 20px;
}

.acnt-list li {
  padding: 5px 0;
}

.acnt-list li i {
  margin-right: 5px;
}

.accordion-panel {
  border: 1px solid #e5e5e5;
}

.accordion-panel .panel {
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
  box-shadow: none;
  padding: 20px 30px;
}

.accordion-panel .panel + .panel {
  margin-top: 0;
}

.accordion-panel .panel:last-child {
  border-bottom: none;
}

.input-field {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  border-width: 1px;
}

#error-message {
  color: red;
  text-align: center;
  font-size: 14px;
}

/*---------------------------------------
    CART           
-----------------------------------------*/
#content-login .content 
{
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
}

#content-login .content .left 
{
	float: left;
	width: 49%;
	line-height:20px;
}

#content-login .content .right 
{
	float: right;
	width: 49%;
	line-height:20px;
}

.cart-info tbody .remove 
{
    vertical-align: middle;
}

.cart-info table {
  border-collapse: collapse;
  border-left: 10px solid #F7F7F7;
  border-right: 10px solid #F7F7F7;
  border-top: 10px solid #F7F7F7;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}
.cart-info td {
  padding: 7px;
}
.cart-info thead td {
  background-color: #F7F7F7;
  border-bottom: 10px solid #F7F7F7;
  font-size: 17px;
}
.cart-info thead .remove, .cart-info thead .image {
  text-align: center;
}
.cart-info thead .name, .cart-info thead .seller {
  text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
  text-align: right;
}
.cart-info tbody td {
  border-bottom: 10px solid #F7F7F7;
  vertical-align: inherit;
}
.cart-info tbody .remove {
  vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
  text-align: center;
}
.cart-info tbody .name, .cart-info tbody .seller {
  text-align: left;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
  text-align: right;
}
.cart-info tbody span.stock {
  color: #FF0000;
  font-weight: bold;
}

.cart-module .cart-heading {
  background: url("../assets/imgs/arrow-right.png") no-repeat scroll 10px 50% #F7F7F7;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 12px 8px 12px 22px;
}

.cart-module .active {
  background: url("../assets/imgs/arrow-down.png") no-repeat scroll 7px 50% #F8F8F8;
}

.cart-module .cart-content {
  display: none;
  overflow: auto;
  padding: 0 0 15px;
}

.cart-total {
  margin-bottom: 15px;
  overflow: auto;
  padding-top: 8px;
}
.cart-total table {
  float: right;
}
.cart-total td {
  padding: 5px 5px 10px 50px;
  text-align: right;
}